html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym, 
address, big, cite, code, del, dfn, em, img, ins, kbd, 
q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot, thead,
tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output,
ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%
	font: inherit;
	vertical-align: baseline;
}

@font-face{
	font-family: Roboto;
	src: url(./font/Roboto/Roboto-Reguler.tff);
}

@font-face {
	font-family: Mukta;
	src: url(./font/Mukta/Mukta-Reguler.tff);
}

@font-face {
	font-family: Rosarivo;
	src: url(./font/Rosarivo/Rosarivo-Reguler.ttf);
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 10px;
}

ol, ul {
	list-style: none;
}

blockquote, q{
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	margin: 0px;
	font-family: Roboto, sans-serif;
}

body {
	text-align: center;
}

.containerHomepage{
	width: 80%;
	margin: 0 auto;
}

.headerhomepage header {
	position: absolute;
	width: 75%;
	height: 62px;
	left: 272px;	
	top: 40px;

	background: #F2F2F2;
	border-radius: 5px;	
}

.headerlain header {
	position: absolute;
	width: 75%;
	height: 60px;
	left: 250px;
	top: 37px;

	background: #27AE60;
	border-radius: 3px;
}

.bawahheader{
	position: absolute;
	width: 100%;
	height: 60px;
	top: 118px;
	
	background: #F2C94C;
	border-radius: 3px;
}

header::after {
	content: '';
	display: table;
	clear: both;
}

nav {
	font-family: Roboto;
	font-size: 16px;
	float: right;
	padding-right: 50px;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-left: 30px;
	margin-right: 40px;
	margin-top: 30px;
	position: relative;
}

nav a {
	color: black;
	text-decoration: none;
}

nav a:hover {
	color: black;
}

#rectangle.asuh {
	width: 300px;
	height: 50px;
	background: blue;
	top: 600px;
}

#padkotak-galeri {
	padding: 40px;
}

.kotakgaleri {
	width: 178px;
	height: 74px;
	background: #F2C94C;
	margin: 0 auto;
	top: 50px;	
}

h2.judulgaleri {
	text-align: center;
	font-family: Rosarivo;
	padding-top: 35px;
}

.backframe {

}

.framegaleri {
	position:relative;
	float: left;
	margin: 5px;
	display: block;
	overflow:hidden;
    min-width: 232px;
    min-height: 232px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
	color: #fff!important;
}
.framegaleri .tjud{
	text-align:center;
	font-weight: bold;
	font-size: 140%;
	margin-bottom: 5px;

}
.textOverImage{
background: rgba(0,0,0,0);
position: absolute;
top:0;
left:0;
right:0;
bottom:0;
transition: all .3s ease-out;
}

.framegaleri:hover .textOverImage{
	background: rgba(0,0,0,.7);
}
.framegaleri, .framegaleri span {
	display: block;
}
.framegaleri .tcont{
	position: absolute;
	padding: 20px;
	top:100%;
	transition: all .3s ease-out;
	right: 0;
    left: 0;
	text-align: center;
}
.galeri:hover .tcont{
	top:0;
}

.textOverImage:hover{

}

.tentangtext{

}

#bartentang {
	width: 700px;
	height: 30px;
	background: #F2F2F2;
	margin: 100px;
}

h1.label {
	font-size: 14px;
	font-family: Roboto;
	text-align: left;
	margin-left: 40px;
	top: 30px;
}

body div h1 {
	line-height: 30px;
}

body div p {
	line-height: 20px;
}

#bartentang2 {
	width: 700px;
	height: 30px;
	background: #F2F2F2;
	margin: 100px;
	margin-top: -60px;
}

h2.label {
	font-size: 14px;
	font-family: Roboto;
	text-align: left;
	margin-left: 40px;
	top: 30px;
}


body div h2 {
	line-height: 30px;
}

#bartentang3 {
	width: 700px;
	height: 30px;
	background: #F2F2F2;
	margin: 100px;
	margin-top: -60px;
}

h3.label {
	font-size: 14px;
	font-family: Roboto;
	text-align: left;
	margin-left: 40px;
	top: 30px;
}

#bartentang4 {
	width: 700px;
	height: 30px;
	background: #F2F2F2;
	margin: 100px;
	margin-top: -60px;
}

h4.label {
	font-size: 14px;
	font-family: Roboto;
	text-align: left;
	margin-left: 40px;
	top: 30px;
}

body div h3 {
	line-height: 30px;
}

body div h4 {
	line-height: 30px;
}

.tentsquare {
	margin-left: 900px;
}

.squaretent1 {
	position: absolute;
	width: 250px;
	height: 250px;
	background: #F2F2F2;
	top: 100px;		
}

.squaretent2 {
	position: absolute;
	width: 250px;
	height: 250px;
	background: #F2F2F2;
	top: 400px;
}

.squaretent3 {
	position: absolute;
	width: 250px;
	height: 250px;
	background: #F2F2F2;
	top: 700px;
}

.squaretent4 {
	position: absolute;
	width: 250px;
	height: 250px;
	background: #F2F2F2;
	top: 1000px;
}



.frameasuhan {
	position:relative;
	float: left;
	margin: 5px;
	display: block;
	overflow:hidden;
    min-width: 232px;
    min-height: 232px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
	color: #fff!important;
}

.frameasuhan .tjud{
	text-align:center;
	font-weight: bold;
	font-size: 140%;
	margin-bottom: 5px;
}

.frameasuhan:hover .textOverImage{
	background: rgba(0,0,0,.7);
}
.frameasuhan, .frameasuhan span {
	display: block;
}
.frameasuhan .tcont{
	position: absolute;
	padding: 20px;
	top:100%;
	transition: all .3s ease-out;
	right: 0;
    left: 0;
	text-align: center;
}
.asuhan:hover .tcont{
	top:0;
}

.textOverImage:hover{

}

.tentangtext{

}

.padkotak-asuhan {
	padding: 40px;
}

.kotak-asuhan {
	width: 729px;
	height: 74px;
	background: #F2C94C;
	margin: 0 auto;
	margin-top: 48;
}

h1.anakasuh{
	font-family: Rosarivo;
	text-align: center;
	font-size: 24;
	padding-top: 20px;
}

.blogitem h2 {
 font-size: 200%;
}

.blogitem img {
	float: left;
	margin: 0 10px 10px 0;
}

.blog-post img {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

.blog-post {
	border-bottom: 1px solid #ccc;
}

table {
	margin: 30px;
}
table[border="1"] th,
table[border="1"] td,
table[border="1"] caption {
border:1px solid #ddd;
padding:.5em 1em;
text-align:left;
vertical-align:top;
}
th {
font-weight:bold;
}
table[border="1"] caption {
border:none;
font-style:italic;
}

.post {
	margin-bottom: 30px;
}

.post .blog-post-title{
	font-size: 230%;
	font-weight: bold;
	line-height: 100%;

	margin-bottom: 5px;
}

.post .blog-post-meta{
	margin-bottom: 10px;
}

.post .post-body {
	font-size: 120%;
	line-height: 140%;
}

.post-body h1,.post-body h2,.post-body h3,.post-body h4,.post-body h5,.post-body h6{
	font-weight: bold;
	margin: 10px 0;
	line-height: 130%;
}

.post-body h1 {
	font-size: 200%;
}

.post-body h2 {
	font-size: 180%;
}

.post-body h3 {
	font-size: 170%;
}

.post-body h4{
	font-size: 160%;
}

.post-body h5 {
	font-size: 150%
}

.post-body h6 {
	font-size: 140%
}